<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper为根元素，namespace指定了命名空间-->
<mapper namespace="com.demo.mapper.StaffMapper">
    <insert id="addStaff">
        insert into staff (account,password,staff_name,staff_sex,staff_age,phone)values (#{account},#{password},#{staff_name},#{staff_sex},#{staff_age},#{phone})
    </insert>
    <select id="loginStaff" parameterType="staff" resultType="staff">
        select * from staff where account=#{account} and password=#{password}
    </select>
    <update id="UpStaState" parameterType="staff">
        update staff set state=#{state} where staff_id=#{staff_id}
    </update>
    <select id="selectAll" resultType="staff">
        select * from staff
    </select>
</mapper>