<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.11.1.min.js}"></script>

</head>
<body>
<div>
    <form action="/super/doLogin" method="post">
        <table>
            <tr>
            <tr>
                <td>账号：</td>
                <td><label><input type="text" name="account" id="account"/></label></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><label><input type="password" name="password" id="password"/></label></td>
            </tr>
            <tr>
                <td colSpan="2" style=" text-align:center" align="center">
                    <input align="center" type="submit" value="登录账户"/>
                </td>
            </tr>
            <tr><!--/*@thymesVar id="info" type=""*/-->
                <td th:text="${info}"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>