<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/echarts.min.js}"></script>
</head>
<body>
warehouse仓库展示当前商品的库存
可以使用echarts
<div id="main" style="width: 600px;height: 400px;"></div>
<br/>
<script type="text/javascript">
    const option = {
        title: {
            text: "库存统计"
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            data: []
        }]
    };
    //初始化echarts实例化
    const echartsInit = echarts.init(document.getElementById("main"));
    echartsInit.setOption(option);
    var names = [];//类别数组 X轴
    var nums = [];//销量数组 Y轴

    $.ajax({
        url: "/warehouse/findAll",
        type: "post",
        dataType: "json",
        success: function (result) {
            //result是后台返回的json对象
            var data = result.data;
            if (data) {
                for (var i = 0; i < data.length; i++) {
                    names.push(data[i].commodity.commodity_name);
                }
                for (var i = 0; i < data.length; i++) {
                    nums.push(data[i].number);
                }
                //echartsInit.hideLoading();
                echartsInit.setOption({
                    xAxis: {
                        data: names
                    },
                    series: [{
                        name: '销量',
                        data: nums
                    }]
                })
            }
        }
    })
</script>


</body>
</html>